.pricing-products{
    padding-bottom: 50px;
    margin-top: 50px;
}

.pricing {
    display: flex;
    justify-content: center;
    margin-top: 0;

    .pricing-options {
        background-color: #ffffff;
        width: 25%;
        margin-left: 3%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px, rgba(0, 0, 0, 0.08) 3px 10px 30px;
        align-content: center;
        text-align: center;

        h4 {
            color: #60677E;
            font-size: 20px;
            font-weight: 800;
            margin-top: 20px;
        }

        h3 {
            font-size: 30px;
            font-weight: 300;
        }
        
        .h3-starter {
            color: #36D4B2;
        }

        .h3-basic {
            color: #FCB14B;
        }

        .h3-premium {
            color: #2380BB;
        }

        .price-logo {
            margin-top: 30px;
        }

        .price {
            margin-top: 40px;
            color: #60677E;
            font-size: 22px;
            font-weight: bold;
            .price-starter {
                color: #36D4B2;
                font-size: 48px;
                font-weight: bold;
            }
            .price-basic {
                color: #FCB14B;
                font-size: 48px;
                font-weight: bold;
            }
            .price-premium {
                color: #2380BB;
                font-size: 48px;
                font-weight: bold;
            }
        }

        .pricing-details {
            margin-top: 40px;
            color: #60677E;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 22px;
        }
        
        .button-pricing {
            margin-top: 40px;
            margin-bottom: 20px;
            height: 40px;
            width: 194px;
            border-radius: 4px;
            color: #ffffff;
            border-style: none;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }

        .button-starter {
            background-color: #36D4B2;
        }
        .button-basic {
            background-color: #FCB14B;
        }
        .button-premium {
            background-color: #2380BB;
        }
    }
}

.product-enterprise {
    display: flex;
    align-items:flex-start;
    align-content:flex-start;
    justify-content: left;  
    background: #ffffff;
    border-radius: 6px;
    width: 81%;
    margin-left: 11%;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px 0 rgba(39,51,92,0.15);
    margin-top: 20px;
    .enterprise-headings {
        width: 77%;
    }
    h2 {
        margin-top: 40px !important;
        padding-left: 20px;
    }
    h4 {
        margin-left: 20px;
        margin-bottom: 40px;
        color: #60677E;
        font-size: 20px;
        font-weight: 500;
    }
    button {
        margin-top: 20%;
        height: 60px;
        width: 250px;
        border-radius: 4px;
        background-color: #009BAA;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        border-style: none;
    }
}