@import '../../components/include_media';
.search-button {
    padding-top: 5px !important;
    border: 0 !important;
    background: none !important;
    box-shadow: none !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 0px 4px 4px 0px !important;
    color: #ffffff !important;
    background-color: #009BAA !important;
    text-align: center !important;
    cursor: pointer !important;
    height: 55px !important;
    width: 10% !important;
    text-transform: none !important;
    @include media('<=1000px') {
      font-size: 16px !important;
      width: 20% !important;
    }
    @include media('<=600px') {
      font-size: 13px !important;
    }
  }

.form-control {
    width: 88%;
    @include media('<=1000px') {
      width: 75%;
    }
}

.fontawsome-icon-search {
  padding-top: 0px !important;
  padding-left: 0px !important;
  width: 20px !important;
}

.results {
  margin-top: 20px;
}

.answer {
  background-color: yellow;
}

.context {
  line-height: 1.5;
  text-align: justify;
  padding-right: 30px;
  padding-left: 10px;
  color: #202124;
}

hr {
  border: none;
  height: 1px;
  background-color: lightgray;
}

.powered-haystack {
  margin-top: 10px;
  font-weight: bold;
  span {
    color: #2380BB;
  }
}

.docs-page {
  padding-left: 10px;
  font-size: 18px;
  padding-bottom: 10px;
  color: #2380BB;
  font-weight: bold;
}

.ReactModal__Content {
  @include media('<=1000px') {
    inset: 10px !important;
  }
}