.value-prop {
    background-color: #F5F6FA;

    .logo-icon {
        margin-top: 100px;
        margin-left: 170px;
        height: 35px;
        width: 26px;
    }

    .main-subtitle {
        margin-top: 30px;
        margin-left: 170px;
        height: 104px;
        width: 340px;
        color: #1C2648;
        font-size: 36px;
        font-weight: bold;
        line-height: 52px;
    }

    .button {
        margin-top: 30px;
        margin-left: 170px;
        height: 50px;
        width: 205px;
    }

    .link {
        display: inline-block;
        margin-top: 10px;
        margin-left: 175px;
        color: #009BAA;
        font-weight: bold;
        cursor: pointer;
    }
}