.cta {
    background-color: #F5F6FA;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    button {
      margin-top: 20px;
      margin-left: 20px;
      height: 50px;
      width: 340px;
    }
    .button-contanct {
      width: 340px;
      height: 50px;
      border: 0;
      font-weight: bold;
      background-color: #F5F6FA;
      color: #009baa;
      margin-top: 5px;
      cursor: pointer;
    }
    p {
      font-size: 1.5rem;
      font-weight: 500;
    }
    @include media("<=1000px") {
      button {
        margin-left: 0;
      }
      .button-contanct {
        margin-left: 0;
      }
    }
  }