.cta {
    background-color: $ctaBackgroundColor;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    button {
      margin-top: 20px;
      margin-left: 20px;
      height: 50px;
      width: 205px;
    }
    p {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }