.products {
    display: flex;
    background-color: #F5F6FA;
    justify-content: center;
    align-items: center;
    text-align: center;
    .all-products{
        display: inline-block;
    }
    .h3-products {
        color: black;
        margin-bottom: 30px;
    }
    p {
        font-size: 1.25rem;
        color: black;
    }
    .products-options {
        float: left;
    }
    .products-options-empty {
        width: 10%;
        height: 470px;
        background-color: #F5F6FA;
    }
    .prodcuts-header {
        border-bottom: 1px solid grey;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .product-description {
        margin-top: 20px;
        font-size: 1.2em;
        font-weight: bold;
    }
    .products-features {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        font-size: 1.1em;
        line-height: 2em;
        text-align: left;
    }
    .products-opensource {
        background: #ffffff;
        padding: 20px;
        width: 40%;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px, rgba(0, 0, 0, 0.08) 3px 10px 30px;
    }
    .products-enterprise {
        padding: 20px;
        width: 40%;
        background-color: #F5F6FA;
    } 
    .products-actions {
        display: flex;
        justify-content: center;
        .button {
            height: 50px;
            width: 205px;
            margin-left: 10px;
        }
    }
  }