.product-features {
    background-color: #ffffff;
    text-align: center;
    h2 {
      padding-top: 100px;
      color: #182632;
      font-size: 32px !important;
    }
    h3 {
      color: #182632;
      font-size: 24px !important;
      opacity: 0.7;
      padding-left: 5px;
      padding-right: 5px;
    }
    h4 {
      font-size: 24px !important;
      font-weight: bold;
      color: #182632;
      margin-top: 20px;
      margin-bottom: 20px;;
    }
    p {
      font-size: 18px !important;
      color: #182632 ;
    }
    .svg-inline--fa {
      width: 5em;
      color: #009BAA;
      height: 5em;
    }    
    .img-feature {
      width: 35%
    }
  }

  .githubicon {
    margin: 3em;
    display: flex;
    //@at-root: column;
    align-items: center;
    justify-content: center;
  }

  .core-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: top;
    justify-content: center;
    padding-bottom: 60px;
    p {
      line-height: 1.2;
    }
  }

  .core-feature-2 {
    height: 260px
  }

  .feature-icon {
    height: 5em !important;
    width: 5em !important;
  }
  
  @include breakpoint('from-tablet-p') {
    .core-features {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      h2 {
        font-size: 1rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .core-feature-1,
    .core-feature-2,
    .core-feature-3 {
      max-width: 16rem;
      max-height: 30rem;
      padding: 0 2em;
    }  
  }
  
  @include breakpoint('from-tablet-l') {
    .core-features {
      max-width: $maxContainerWidth;
      margin: 0 auto;
      h2 {
        font-size: 1.25rem;
      }
      p {
        font-size: 1.25rem;
      }    
    }
    .core-feature-1,
    .core-feature-2,
    .core-feature-3 {
      padding: 0 1em;
    }    
  }