.usecases {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .all-usecases {
    display: inline-block;
    padding-bottom: 90px;
  }
  p {
    font-weight: 600;
    margin: 0 auto;
    width: 80%;
  }
  blockquote {
    margin-top: 0.5em;
    padding: 0.25em;
    font-weight: 400;
  }
}

.usecase-group {
  display: flex;
  justify-content: center;
  max-width: $maxContainerWidth;
  .uc-values{
    margin-top: 20px;
    font-size: 1.1em;
    line-height: 2em;
    text-align: left;
    min-height: 270px;
    background-color: #f6f9f9;
    border-bottom: 1px;
    border-bottom-color: #e7e9ed;
    padding-top: 10px;
    .ul-examples, .li-examples {
      list-style-type: circle; 
    }
  }
  .uc-examples{
    background-color: #f6f9f9;
    padding-top: 10px;
    font-size: 1.1em;
    line-height: 2em;
    text-align: left;
    min-height: 310px;
    .ul-examples, .li-examples {
      list-style-type: circle; 
    }
  }
}

.usecase-card-1,
.usecase-card-2,
.usecase-card-3  {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px, rgba(0, 0, 0, 0.08) 3px 10px 30px;
  background: #ffffff;
  width: 30%;
  margin-left: 3%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px, rgba(0, 0, 0, 0.08) 3px 10px 30px;
  .uc-description {
    text-align: justify;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.63;
    color: #182632;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 105px;
  }
  .usecase-img {
    margin-top: 20px;
    width: 20%;
  }
  .uc-h3 {
    min-height: 100px;
    vertical-align: top;
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #009baa;
  }
  .h-example {
    width: 100%;
    h4 {
      width: 100%;
      margin-left: 20px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
  .column-left {
    margin-left: 20px;
    float: left;
    width: 10%;
    li {
        min-height: 90px;
        .check-font {
          color: #009bab;
      }
    }
  }
  .column {
      text-align: left;
      line-height: 1.5em;
      float: left;
      width: 70%;
      li {
          min-height: 90px;
          padding-top: 5px;
      }
    }
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
}
 