.usecases {
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .all-usecases {
    display: inline-block;
  }
  p {
    font-weight: 600;
    margin: 0 auto;
    width: 80%;
  }
  blockquote {
    margin-top: 0.5em;
    padding: 0.25em;
    font-weight: 400;
  }
}

.usecase-group {
  display: flex;
  justify-content: center;
  max-width: $maxContainerWidth;
  .uc-description {
    font-size: 1.1em;
    line-height: 1.2em;
    border-bottom: 1px solid grey;
  }
  .uc-values{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 1.1em;
    line-height: 2em;
    text-align: left;
    .ul-examples, .li-examples {
      list-style-type: circle; 
    }
  }
}

.usecase-card-1,
.usecase-card-2,
.usecase-card-3  {
  background-color: $backgroundColor;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  width: 50rem;
  margin-left: 100px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px, rgba(0, 0, 0, 0.08) 3px 10px 30px;
}
 