.button {
    //padding: 0.75em 1.25em;
    //background-color: $buttonColor;
    //color: $backgroundColor;
    //border-radius: 1rem;
    border: 1;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
  }