h1 {
    margin: 0 0 2rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: black;
}
table {
    background-color: #f7fafc !important;
    tr {
        background-color: #f7fafc !important;
        td {
            background-color: #f7fafc !important;
            border: none !important;
        }
    }
}