.footer-wrapper {
    background: #F5F6FA;
    color: #60606F;
    padding: 22px;
  
    .follow {
      text-align: right;
      margin-right: 30px;
    }
    .copy-right {
      text-align: center;
  
      span {
        font-size: 14px;
      }
    }
  
    .link {
      color: #60606F;
      margin-left: 20px;
    }
    a {
      color:#60606F;
    }
  }

  .fontawsome-icon {
    width: 20px !important;
    height: 20px !important;
    margin-left: 20px !important;
  }