.thumbnail {
    position : absolute;
    top : 0 ;
    z-index : -5000;
    width : 0px;
    height : 0px;

    img {
        object-fit : cover;
        width : 0px;
        height : 0px;
    }
}

.benchmarking {
    display: flex;
    max-width: 900;
    justify-content: center;
    justify-items: center;
    padding-top: 100px;
    align-content: center;
    background-color: #ffffff;
    text-align: justify;
    .benchmarking-content {
        width:80%;
        .h-button {
            margin-top: 20px;
            cursor: pointer;
            border: none;
            background-color: #ffffff;
        }
        .desc-details {
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 1.5rem;
            a {
                color: #08415D;
            }
            i {
                font-style: italic;
            }
        }
    }
    h1 {
        text-align: center;
        color: #000;
        font-size: 3rem;
        margin-bottom: 4rem;
        .version-formcontrol {
            margin-left: 20px;
            min-width: 150px;
            //border: 1px solid grey;
            //border-radius: 4px;
            //box-shadow: 0 1px 0 rgba(27, 31, 35, 0.1);
            .MuiInputBase-root {
                font-size: 2rem;
            }
            .MuiSelect-select {
                margin: 0;
                padding-bottom: 0px;
            }
        }
    }

    h2 {
        text-align: left;
        color: #000;
        font-size: 2rem;
        .fontawsome-icon {
            width: 20px;
            color: #000000;
        }
    }
    .setup {
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 1.5rem;
    }
    *,*:focus,*:hover{
        outline:none;
    }
}